<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% block title %} {% endblock %}
  <!-- <title>NSO Portal | Dashboard</title> -->
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="/static/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/static/dist/css/skins/_all-skins.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">

    <!-- Logo -->
    <a href="dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>NSO</b> Portal</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>NSO</b> Portal</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          {% block custom_menu %} {% endblock %} 

          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              {% if system['alarms-summary']['total'] == 0 %}
                  <span class="label label-alert">{{ system['alarms-summary']['total'] }}</span>
              {% elif system['alarms-summary']['criticals'] > 0 %}
                  <span class="label bg-red">{{ system['alarms-summary']['total'] }}</span>
              {% elif system['alarms-summary']['warnings'] > 0 %}
                 <span class="label bg-orange">{{ system['alarms-summary']['total'] }}</span>
              {% else %}
              <span class="label bg-green"> {{ system['alarms-summary']['total'] }} </span>
              {% endif %}
            </a>
            <ul class="dropdown-menu">
              <li class="header">{{system['alarms-summary']['total']}} Active Alarms</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-red"></i>  {{system['alarms-summary']['criticals']}} Critical Alarms 
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-red"></i> {{system['alarms-summary']['majors']}} Major Alarms
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> {{system['alarms-summary']['minor']}} Minor Alarms
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> {{system['alarms-summary']['warnings']}} Minor Alarms
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-aqua"></i> {{system['alarms-summary']['indeterminates']}} Indeterminate Alarms
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View alarm details</a></li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/static/dist/img/user.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ session['user'] }}</p>
          <a href="logout"><i class="fa fa-circle text-success"></i> Log out</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a href="{{ url_for('dashboard', info='devices') }}">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right"></span>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="{{ url_for('devices', info='devices') }}">
            <i class="fa fa-files-o"></i>
            <span>Device Management</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right"></span>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Services</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-gears"></i> <span>System</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ url_for('rollbacks') }}"><i class="fa fa-circle-o text-red "></i> Rollback </a></li>
          </ul>
          <ul class="treeview-menu">
            <li><a href="{{ url_for('commitQueue') }}"><i class="fa fa-circle-o text-green "></i> Commit Queue(s) </a></li>
          </ul>
        </li>    
        <li class="treeview">
          <a href="#">
            <i class="fa fa-university"></i> <span>Demo</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ url_for('commitQueueDemo') }}"><i class="fa fa-circle-o text-green "></i> Commit Queues and LSA</a></li>
          </ul>
        </li>    
        <li class="treeview">
          <a href="{{ url_for('logout') }}">
            <i class="fa fa-sign-out"></i> <span>Logout</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

     <!-- Content Header (Page header) -->
     <section class="content-header">
        
     {% block top_header %} {% endblock %} 

     {% block content_header %} {% endblock %} 

     </section>


     {% block content %} {% endblock %}

      <div class="dryRunModal">
        <div class="modal modal-primary" id="dryRunModal" tabindex=-1>
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Commit Dry Run Results</h4>
              </div>
              <form  role="form" id="dryRunModal">
              <div class="modal-body ">
                <pre class="prettyprint pre-scrollable">
                   <span class="dry-run-results" style="font-size: 11px">
   
                   </span>
               </pre>
              </div> 
              <div class="modal-footer">
                  <button type="submit" id="dryRunCli" class="btn btn-default pull-left">CLI</button>
                  <button type="submit" id="dryRunNative" class="btn btn-default pull-left">Native</button>
                  <button type="submit" id="dryRunXml" class="btn btn-default pull-left">XML</button>
                  <button type="button" id="dryRunClose" data-dismiss="modal" id="dryRunClose" class="btn btn-default pull-right">Close</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.12
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->

      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->

<!-- SocketIO 3.0.4 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>

<!-- jQuery 2.2.3 -->
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Select2 4.0.3 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- ChartJS 1.0.1 -->
<script src="/static/plugins/chartjs/Chart.min.js"></script>
<!-- FastClick -->
<script src="/static/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/app.min.js"></script>
<!-- DataTables -->
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- Sparkline -->
<script src="/static/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="/static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS 1.0.1 -->
<!-- AdminLTE for demo purposes -->
<script src="/static/dist/js/demo.js"></script>
<!-- Select2 -->
<script src="/static/plugins/select2/select2.full.min.js"></script>
<!-- InputMask -->
<script src="/static/plugins/input-mask/jquery.inputmask.js"></script>
<script src="/static/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="/static/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- page script -->
<script>
  $(function () {

  $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "autoWidth": false
  });
    //Initialize Select2 Elements
    $(".select2").select2();

    //Datemask dd/mm/yyyy
    $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
    //Money Euro
    $("[data-mask]").inputmask();

    {% block scripts %} {% endblock %}
    var clkBtn = "";
    $('input[type="submit"]').click(function(evt) {
        clkBtn = evt.target.id;
    });

    $('#commit').click(function(event) {
       $.ajax({
         data : {
           flags : 'none'
         },
         type : 'POST',
         url : '/commit'
       })
       .done(function(data) {
        if (data.error) {

        }
        else {

        }
      });
    });
    $('#commit').click(function(event) {
       $.ajax({
         data : {
           flags : 'none'
         },
         type : 'POST',
         url : '/commit'
       })
       .done(function(data) {
        if (data.error) {

        }
        else {
          $("#commit").removeClass("btn-success").addClass("btn-default");
          $("#dry-run").removeClass("btn-success").addClass("btn-default")
        }
      });
    });
    $('#revert').click(function(event) {
       $.ajax({
         data : {
           flags : 'none'
         },
         type : 'POST',
         url : '/revert'
       })
       .done(function(data) {
        if (data.error) {
          alert(data.error);
        }
        else {
          $("#commit").removeClass("btn-success").addClass("btn-default");
          $("#dry-run").removeClass("btn-success").addClass("btn-default")
          location.reload();
        }
      });
    });

     var dryrun = function(outformat) {
        $(".dry-run-results").html("");
        $.ajax({
         data : {
          'outformat' : outformat
         },
         type : 'POST',
         url : '/dry-run'
        })
        .done(function(data) {
           dataDisplay =  data.result
           if (outformat === 'cli') {
             $(".dry-run-results").html(dataDisplay);
           }
           else {
            $(".dry-run-results").text(dataDisplay);
           }
        });
     };

     $('#dryRunCli').on('click', function(event) {
        dryrun("cli");
        event.preventDefault();
     });

     $('#dryRunNative').on('click', function(event) {
        dryrun("native");
        event.preventDefault();
     });
     $('#dryRunXml').on('click', function(event) {
         dryrun("xml");
         event.preventDefault();
     });

   $('#dryRunModal').on('shown.bs.modal', function () {
      $('.modal-dialog').css('height', $('.modal-dialog').height() );
      $(".dry-run-results").html("");

   });


  });

</script>

</body>
</html>
