{% extends "base.html" %}

{% block top_header %}
       <div >
          <p></p>
          {% if "active" in session['change_set'] %}
            <button type="submit" id="commit" class="btn btn-success">Commit</button>
            <button type="button" id="dry-run" class="btn btn-success" data-target="#dryRunModal" data-toggle="modal">dry-run</button>
          {% else %}
            <button type="submit" id="commit" class="btn btn-default">Commit</button>
            <button type="button" id="dry-run" class="btn btn-default" data-target="#dryRunModal" data-toggle="modal">dry-run</button>
          {% endif %}
          <button type="submit" id="revert" class="btn btn-danger" >Revert Changes</button>
          <p></p>
      </div>
{% endblock %} 

