{% extends "base.html" %}

{% block title %}
  <title>NSO Portal | Commit Queues Demo</title>
{% endblock %}

{% block content_header %}
      <!--h1>
        Device Details
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gear"></i> Home</a></li>
        <li><a href="#">commitqueue</a></li>
      </ol-->

{% endblock %}

{% block custom_menu %}
          <li>
            <button type="submit" id="purge-all" class="btn btn-xs btn-xs" style="margin-top: 12px">Purge All</button>
          </li>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

             <!-- TABLE: Service Details -->
             <div class="box">
               <div class="box-header with-border">
                 <h3 class="box-title">Services</h3>
               </div>
               <!-- /.box-header -->
               <div class="box-body">
                 <div class="table-responsive">
                   <table id="cqueueTable" class="table table-bordered">
                     <thead>
                       <tr>
                         <th>Type</th>
                         <th>Name</th>
                         <th>Devices</th>
                         <th>Commit-Queue</th>
                       </tr>
                    </thead>
                    <tbody id="tabledata_services">
                    </tbody>
                   </table>
                 </div>
               <!-- /.table-responsive -->
               </div>
             </div>

             <!-- TABLE: Commit Queue Details -->
             <div class="box">
                <div class="box-header with-border">
                   <h3 class="box-title">Active Commit Queue</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                   <div class="table-responsive">
                    <table id="cqueueTable" class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Tag</th>
                          <th>Age</th>
                          <th>Status</th>
                          {% for ql in qLen %}
                           <th>{{ ql['name'] }}</th>
                          {% endfor %}
                        </tr>
                     </thead>
                     <tbody id="tabledata_executing">
                     </tbody>
                    </table>
                  </div>
                <!-- /.table-responsive -->
                </div>
              </div>

             <!-- TABLE: Commit Queue Details -->
             <div class="box">
               <div class="box-header with-border">
                 <h3 class="box-title" id="tooltip-completed">Completed Commit Queue</h3>
                 <button type="submit" id="purge-completed" class="btn btn-xs btn-xs" style="margin-left: 30px; padding-top:1px; padding-bottom:1px; margin-top:-3px">Purge</button>
               </div>
               <!-- /.box-header -->
               <div class="box-body">
                 <div class="table-responsive">
                   <table id="cqueueCompletedTable" class="table table-bordered">
                     <thead>
                       <tr>
                         <th>Id</th>
                         <th>Tag</th>
                         <th>Status</th>
                         <th>When</th>
                         <th>Failed</th>
                         <th>Devices</th>
                       </tr>
                    </thead>
                    <tbody id="tabledata_completed">
                    </tbody>
                   </table>
                 </div>
               <!-- /.table-responsive -->
               </div>
             </div>

             <!-- TABLE: NSO Alarms -->
             <div class="box">
               <div class="box-header with-border">
                 <h3 class="box-title">Alarms</h3>
                 <button type="submit" id="purge-alarms" class="btn btn-xs btn-xs" style="margin-left: 30px; padding-top:1px; padding-bottom:1px; margin-top:-3px">Purge</button>
               </div>
               <!-- /.box-header -->
               <div class="box-body">
                 <div class="table-responsive">
                   <table class="table no-margin">
                     <thead>
                     <tr>
                       <th>Type</th>
                       <th>Device</th>
                       <th>Cleared</th>
                       <th>Last Update</th>
                       <th>Description</th>
                     </tr>
                     </thead>
                     <tbody id="tabledata_alarms">
                     </tbody>
                   </table>
                 </div>
                 <!-- /.table-responsive -->
               </div>
             </div>


             <!-- TABLE: Commit Queue Progress Events -->
             <div class="box">
               <div class="box-header with-border">
                 <h3 class="box-title">Commit-Queue Progress Events</h3>
                 <button type="submit" id="purge-commit-queue-events" class="btn btn-xs" style="margin-left: 30px; padding-top:1px; padding-bottom:1px; margin-top:-3px">Purge</button>
               </div>
               <!-- /.box-header -->
               <div class="box-body">
                 <div class="table-responsive">
                   <table class="table no-margin">
                     <thead>
                     <tr>
                       <th>Event Time</th>
                       <th>Id</th>
                       <th>State</th>
                       <th>Tag</th>
                       <th>Trace Id</th>
                       <th>Transient Devices</th>
                       <th>Failed Devices</th>
                       <th>Completed Devices</th>
                     </tr>
                     </thead>
                     <tbody id="tabledata_commit_queue_events">
                     </tbody>
                   </table>
                 </div>
                 <!-- /.table-responsive -->
               </div>
             </div>


             <!-- TABLE: Service State Change Events -->
             <div class="box">
               <div class="box-header with-border">
                 <h3 class="box-title">Service Plan Change Events</h3>
                 <button type="submit" id="purge-service-plan-events" class="btn btn-xs" style="margin-left: 30px; padding-top:1px; padding-bottom:1px; margin-top:-3px">Purge</button>
               </div>
               <!-- /.box-header -->
               <div class="box-body">
                 <div class="table-responsive">
                   <table class="table no-margin">
                     <thead>
                     <tr>
                       <th>Event Time</th>
                       <th>Service</th>
                       <th>Trace Id</th>
                       <th>Component</th>
                       <th>State</th>
                       <th>Operation</th>
                       <th>Status</th>
                     </tr>
                     </thead>
                     <tbody id="tabledata_service_plan_events">
                     </tbody>
                   </table>
                 </div>
                 <!-- /.table-responsive -->
               </div>
             </div>

    </section>
    <!-- /.content -->

{% endblock %}

{% block scripts %}
    //=========================================================
    // TOOLTIP FUNCTIONS
    //=========================================================

    function init_tooltip_completed2() {
         $('#tooltip-completed2').tooltip({
             container: 'body',
             delay: { "show": 600, "hide": 100 },
             placement: "bottom",
             title: cqDetails,
             html: false
         });
    }

    contentCalled = false;
    function cqDetails(){
        if (!contentCalled) {
            contentCalled = true;
            return " ";
        }
        console.log(this.id);
        var tooltipText = "";
        $.ajax({
            url: 'commitqueue/tooltip',
            type: 'get',
            async: false,
            success: function(response){
                contentCalled = false;
                tooltipText = response;
            }
        });
        return tooltipText;
    }


    //=========================================================
    // HELPER FUNCTIONS
    //=========================================================

    function redirect_to_login() {
        location.href = "/login";
    }


    //=========================================================
    // ACTIONS
    //=========================================================

    function execute_action(action) {
         $.ajax({
            url: action,
            type: "post",
            statusCode: {
                403: redirect_to_login
            }
         });
    }


    //=========================================================
    // TABLE DATA FUNCTIONS
    //=========================================================

    function get_tabledata(url, cb) {
        $.ajax({
            url: url,
            type: "get",
            success: cb,
            statusCode: {
                403: redirect_to_login
            }
        });
    }

    function update_tabledata_services() {
        get_tabledata("/services/tabledata_services", function(response) {
            $("#tabledata_services").html(response);
        });
    }

    function update_tabledata_executing() {
        get_tabledata("/commitqueue/tabledata_executing", function(response) {
            $("#tabledata_executing").html(response);
            if (response.length > 0) {
                setTimeout(update_tabledata_executing_age, 1000);
            }
        });
    }

    function update_tabledata_executing_age() {
        get_tabledata("/commitqueue/tabledata_executing/age", function(response) {
            ages = response["ages"]
            if (ages.length > 0) {
                ages.forEach(function(item, index) {
                    $("#a-" + item["id"]).html(item["age"]);
                })
                setTimeout(update_tabledata_executing_age, 1000);
            }
        });
    }


    function update_tabledata_completed() {
        get_tabledata("/commitqueue/tabledata_completed", function(response) {
            $("#tabledata_completed").html(response);
            init_tooltip_completed2();
        });
    }

    function update_tabledata_alarms() {
        get_tabledata("/alarms/tabledata", function(response) {
            $("#tabledata_alarms").html(response);
        });
    }

    function update_tabledata_commit_queue_events() {
        get_tabledata("/notifications/tabledata_commit_queue_events", function(response) {
            $("#tabledata_commit_queue_events").html(response);
        });
    }

    function update_tabledata_service_plan_events() {
        get_tabledata("/notifications/tabledata_service_plan_events", function(response) {
            $("#tabledata_service_plan_events").html(response);
        });
    }


   //=========================================================
   // EVENTS
   //=========================================================

   var socket = io();

   socket.on('connect', function() {
        console.log("Connected.");
   });

   socket.on('disconnect', function() {
        console.log("Disconnected")
   });

   socket.on('tabledata_services_updated', function() {
      update_tabledata_services();
   });
   socket.on('tabledata_executing_updated', function() {
      console.log("tabledata_executing_updated");
      update_tabledata_executing();
   });
   socket.on('tabledata_completed_updated', function() {
      update_tabledata_completed();
   });
   socket.on('tabledata_alarms_updated', function() {
      update_tabledata_alarms();
   });
   socket.on('tabledata_commit_queue_events_updated', function() {
      update_tabledata_commit_queue_events();
   });
   socket.on('tabledata_service_plan_events_updated', function() {
      update_tabledata_service_plan_events();
   });


   //=========================================================
   // FINAL SETUP (load table data, init tooltips etc.)
   //=========================================================

   update_tabledata_services();
   update_tabledata_completed();
   update_tabledata_executing();
   update_tabledata_alarms();
   update_tabledata_commit_queue_events();
   update_tabledata_service_plan_events();

    $('#purge-all').click(function() {
        execute_action('/commitqueue/purge-completed');
        execute_action('/alarms/purge');
        execute_action('/notifications/purge_commit_queue_events');
        execute_action('/notifications/purge_service_plan_events');
    });
    $('#purge-completed').click(function() {
        execute_action('/commitqueue/purge-completed');
    });
    $('#purge-alarms').click(function() {
        execute_action('/alarms/purge');
    });
    $('#purge-commit-queue-events').click(function() {
        execute_action('/notifications/purge_commit_queue_events');
    });
    $('#purge-service-plan-events').click(function() {
        execute_action('/notifications/purge_service_plan_events');
    });
{% endblock %}


