{% extends "base-with-top.html" %}

{% block title %}
  <title>NSO Portal | Commit Queues</title>
{% endblock %}

{% block content_header %}
      <h1>
        Commit Queue Details
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gear"></i> Home</a></li>
        <li><a href="#">commitqueue</a></li>
      </ol>

{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

             <!-- TABLE: Commit Queue Details -->
             <div class="box">
                <div class="box-header with-border">
                   <div class="btn-group pull-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip" title="Add device(s)" >
                         <i class="fa fa-gears"></i><span class="caret"></span>
                      </button>
                          <ul id="qiaction" class="dropdown-menu">
                              <li><a href="#">delete</a></li>
                              <li><a href="#">lock</a></li>
                              <li><a href="#">unlock</a></li>
                              <li><a href="#">prune</a></li>
                              <li><a href="#">set atomic behavior</a></li>
                              <li><a href="#">set non-atomic behavior</a></li>
                          </ul>
                    </div>
                   </div>
                   <h3 class="box-title" style="margin-left: 20px">Active Commit Queue</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                   <div class="table-responsive">
                    <table id="cqueueTable" class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Select</th>
                          <th>Tag</th>
                          <th>Age</th>
                          <th>Status</th>
                          {% for ql in qLen %}
                           <th>{{ ql['name'] }}</th>
                          {% endfor %}
                        </tr>
                     </thead>
                     <tbody id="tabledata_executing">
                     </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                 </div>
                 <!-- /.box-body -->
                 <div class="box-footer clearfix">

                </div>
                <!-- /.box-footer -->
              </div>

             <!-- TABLE: Commit Queue Details -->
             <div class="box">
                <div class="box-header with-border">
                   <div class="btn-group pull-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip" title="Add device(s)" >
                         <i class="fa fa-gears"></i><span class="caret"></span>
                      </button>
                          <ul id="ciaction" class="dropdown-menu">
                              <li><a href="#">delete</a></li>
                              <li><a href="#">rollback</a></li>
                          </ul>
                    </div>
                   </div>
                   <h3 class="box-title" style="margin-left: 20px">Completed Commit Queue</h3>
                   <button type="submit" id="purge-completed" class="btn btn-success btn-xs btn-xs" style="margin-left: 30px; padding-top:1px; padding-bottom:1px; margin-top:-3px">Purge</button>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                   <div class="table-responsive">
                    <table id="cqueueCompletedTable" class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Tag</th>
                          <th>Status</th>
                          <th>When</th>
                          <th>Failed</th>
                          <th>Devices</th>
                        </tr>
                     </thead>
                     <tbody id="tabledata_completed">
                     </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                 </div>
                 <!-- /.box-body -->
                 <div class="box-footer clearfix">

                </div>
                <!-- /.box-footer -->
              </div>

    </section>
    <!-- /.content -->

{% endblock %}

{% block scripts %}
    //=========================================================
    // HELPER FUNCTIONS
    //=========================================================

    function redirect_to_login() {
        location.href = "/login";
    }


    //=========================================================
    // ACTIONS
    //=========================================================

    function execute_action(action, data) {
         request = {
            url: action,
            type: "post",
            statusCode: {
                403: redirect_to_login
            }
         };
         if (data) {
            request.data = data;
         }
         $.ajax(request);
    }


    //=========================================================
    // TABLE DATA FUNCTIONS
    //=========================================================

    function get_tabledata(url, cb, data) {
        request = {
            url: url,
            type: "get",
            success: cb,
            statusCode: {
                403: redirect_to_login
            }
        };
        if (data) {
            request.data = data;
        }
        $.ajax(request);
    }

    function update_tabledata_executing() {
        get_tabledata("/commitqueue/tabledata_executing", function(response) {
            $("#tabledata_executing").html(response);
            if (response.length > 0) {
                setTimeout(update_tabledata_executing_age, 1000);
            }
        }, "select");
    }

    function update_tabledata_executing_age() {
        get_tabledata("/commitqueue/tabledata_executing/age", function(response) {
            ages = response["ages"]
            if (ages.length > 0) {
                ages.forEach(function(item, index) {
                    $("#a-" + item["id"]).html(item["age"]);
                })
                setTimeout(update_tabledata_executing_age, 1000);
            }
        });
    }

    function update_tabledata_completed() {
        get_tabledata("/commitqueue/tabledata_completed", function(response) {
            $("#tabledata_completed").html(response);
        });
    }



   //=========================================================
   // EVENTS
   //=========================================================

   var socket = io();

   socket.on('connect', function() {
        console.log("Connected.");
   });

   socket.on('disconnect', function() {
        console.log("Disconnected")
   });

   socket.on('tabledata_executing_updated', function() {
      console.log("tabledata_executing_updated");
      update_tabledata_executing();
   });
   socket.on('tabledata_completed_updated', function() {
      update_tabledata_completed();
   });


   //=========================================================
   // FINAL SETUP (load table data, init tooltips etc.)
   //=========================================================

   update_tabledata_completed();
   update_tabledata_executing();

   $('#purge-completed').click(function() {
      execute_action('/commitqueue/purge-completed');
   });

   $(".dropdown-menu li a").click(function(){
     var selText = $(this).text();
     var selRows = $(".table input[type=checkbox]:checked").map(function () { return this.value;}).get().join(",");
     data = {
        action: selText,
        ids: selRows
     };
     console.log(data)
     execute_action("/commitqueue/queue-item/action", data)
   });

{% endblock %}


