{% for qc in qCData %}
 <tr>
   <td id="tooltip-completed2">{{qc['id']}}</td>
   <td>{{qc['tag']}}</td>
   <td>{{qc['status']}}</td>
   <td>{{qc['when']}}</td>
   <td>{{qc['failed-devices']}}</td>
   <td>{{qc['devices']}}</td>
 </tr>
{% endfor %}
