{% for alarm in alarms %}
    <tr>
    <td>{{ alarm['type'] }}</td>
    <td>{{ alarm['device'] }}</td>
    {% if "Cleared" in alarm['is-cleared'] %}
        <td><span class="label label-success">{{ alarm['is-cleared'] }}</span></td>
    {% else %}
        <td><span class="label label-danger">{{ alarm['is-cleared'] }}</span></td>
    {% endif %}
    <td>{{ alarm['last-status-change']}} </td>
    <td>{{ alarm['last-alarm-text']}} </td>
{% endfor %}
