{% for notification in notifications %}
    <tr>
    <td>{{ notification['eventTime'] }}</td>
    <td>{{ notification['id'] }}</td>
    <td>{{ notification['state'] }}</td>
    <td>{{ notification['tag'] }}</td>
    <td>{{ notification['trace-id'] }}</td>
    <td>{{ ','.join(notification['transient-devices']) }}</td>
    <td>{{ ','.join(notification['failed-devices']) }}</td>
    <td>{{ ','.join(notification['completed-devices']) }}</td>
{% endfor %}
