{% for notification in notifications %}
    <tr>
    <td>{{ notification['eventTime'] }}</td>
    <td>{{ notification['service'] }}</td>
    <td>{{ notification['trace_id'] }}</td>
    <td>{{ notification['component'] }}</td>
    <td>{{ notification['state'] }}</td>
    <td>{{ notification['operation'] }}</td>
    <td>{{ notification['status'] }}</td>
{% endfor %}
