{% for qi in qData %}
 <tr>
   {% if select %}
   <td>
     <div class="form-group">
       <input type="checkbox" class="pull-right" unchecked id="chkboxName" name="queue-items" value="{{qi['id']}}">
     </div>
   </td>
   {% endif %}
   <td>{{qi['tag']}}</td>
   <td id="a-{{qi['id']}}">{{qi['age']}}</td>
   <td>{{qi['status']}}</td>
   {% for ql in qLen %}

    {% if ql['name'] in qi['devices'] %}
        <td class="{{qi['color']}}">{{qi['id']}}</td>
    {% else %}
      <td> </td>
    {% endif %}
   {% endfor %}
 </tr>
{% endfor %}
